body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #f35525;
}

.product {
    background-color: transparent;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

.product .buy-now {
    padding: 10px 20px;
    text-align: center;
    background-color: #f35525;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product .buy-now:hover {
    background-color: orangered;
}

#buy-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white; /* Background color */
    color: #f35525; /* Text color */
    font-family: Arial, sans-serif; /* Attractive font */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow */
    display: none;
    font-size: 40px;
}
span{
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
    line-height: 30px; 
}